# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean test
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}


      # Capture the generated files as artifacts
    - name: Capture Test Generated Files
      uses: actions/upload-artifact@v2
      with:
        name: report
        path: target/my-reports/ # Adjust the path to match your generated files

    - name: Commit and Push Generated Files
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        
        git add target/my-reports/*
        git commit -m "Add generated files"
        
        git config --global credential.helper store
        git remote add origin https://$GH_TOKEN@github.com/yourusername/yourrepository.git
        
        git push origin reports
