name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn clean test
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      # Capture the generated files as artifacts
      - name: Capture Test Generated Files
        uses: actions/upload-artifact@v2
        with:
          name: report
          path: target/my-reports/ # Adjust the path to match your generated files

      - name: Commit and Push Generated Files
        run: |
          git config --global user.email "stefanomerinoderui@gmail.com"
          git config --global user.name "Billones142"
  
          git add target/my-reports/*
          git commit -m "Add generated files"
  
          git config --global credential.helper store
          git push https://Billones142:$GH_TOKEN@github.com/Billones142/TP2-GestorEmails.git HEAD:reports

